
body {
  height: 100%;
  margin: 0;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}


main {
  flex: 1;
  padding: 20px; 
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: relative;
  bottom: 0;
}


footer p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  footer {
      padding: 15px 10px;
    }
  
  footer p {
      font-size: 14px;
    }
  }
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  scroll-behavior: smooth; 
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
}

header .logo h1 {
  color: #000000;
  margin: 0;
}


.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}

nav ul li a:hover {
  text-decoration: underline;
}

.auth-buttons button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.auth-buttons button:hover {
  background-color: #c0392b;
}

.logo h1 {
  font-family: 'Pacifico', cursive;  
  font-size: 30px;                   
  color: black;                      
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
  letter-spacing: 1px;               
  margin: 0;
}


#hero {
  position: relative;
  height: 100vh; 
  background: url('photos/restaurant-hero.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}


#hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}


#hero .hero-content {
  position: relative;
  z-index: 2; 
}

#hero h2 {
  font-size: 3rem;
  font-family: 'Pacifico', cursive;
  margin-bottom: 20px;
}

#hero p {
  font-size: 1.5rem;
}

#hero button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #ff6347; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#hero button:hover {
  background-color: #ff4500; 
}

/* About Section */
/* #about {
  background-color: #fff;
  padding: 50px 20px;
  text-align: center;
}

#about h3 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
} */

#about {
  padding: 2em;
  background-color: #f4f4f4;
  border-radius: 10px;
  max-width: 900px;
  margin: 2em auto;
}

#about h3 {
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  text-align: center;
  color: #000000;
  margin-bottom: 1em;
}

#about h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 0.5em;
}

#about p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
  margin-bottom: 1em;
}

.about-values ul {
  list-style: none;
  padding: 0;
}

.about-values li {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  margin-bottom: 1em;
  padding-left: 20px;
  position: relative;
}

.about-values li::before {
  content: '✔'; 
  color: #000000;
  font-size: 1.3em;
  position: absolute;
  left: 0;
  top: -2px;
}

.about-intro {
  text-align: center;
  margin-bottom: 1.5em;
}

.about-invitation {
  text-align: center;
  background-color: #ffffff;
  color: white;
  padding: 1.5em;
  border-radius: 10px;
}

.about-invitation p {
  font-size: 1.2em;
}


#menu {
  background-color: #f9f9f9;
  padding: 50px 20px;
  text-align: center;
  
}

.menu-section {
  background-color: #fff;
  padding: 40px;
  
  text-align: center;
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.menu-section h1 {
  
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  color: #000000;
  margin-bottom: 1em;
  text-align: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: auto;
  transition: transform 0.3s ease;
}

.menu-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  aspect-ratio: 4 / 3;
}

.menu-item h2 {
  padding-top: 50px;
  font-size: 1.2em;
  margin: 10px 0 5px 0;
  color: #2c3e50;
}

.menu-item p {
  font-size: 1.1em;
  font-weight: bold;
  color: #34495e;
}

.menu-item:hover {
  transform: scale(1.05);
}

.menu-item ul {
  list-style: none;
  padding: 0;
}

.menu-item li {
  font-size: 1.2em;
  margin: 10px 0;
  color: #34495e;
}

@media screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }

  .menu-item {
    width: 80%;
    margin-bottom: 20px;
  }
}

 
#contact {
  padding: 20px;
  background-color: #f9f9f9;
  max-width: 800px;
  margin: auto;
  border-radius: 8px;
}

#contact h3 {
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  color: #000000;
  margin-bottom: 1em;
  text-align: center;
}

#contact ul {
  list-style-type: none;
  padding: 0;
}

#contact ul.social-media li {
  display: inline;
  margin-right: 10px;
}

#contact form {
  display: flex;
  flex-direction: column;
}

#contact label {
  margin-top: 10px;
}

#contact input, #contact textarea {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#contact button {
  padding: 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

#contact button:hover {
  background-color: #c0392b;
}
/* #contact {
  padding: 20px;
  background-color: #f9f9f9;
  margin: 40px auto;
  max-width: 1000px; /* Ensures content doesn't overflow */
  /* border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */ 

/* #contact h3 {
  text-align: center;
  margin-bottom: 20px;
}

#contact p {
  text-align: center;
}

#contact .contact-details, #contact iframe {
  width: 100%; /* Ensure full width usage */
 

/* #contact .contact-details {
  margin-bottom: 20px;
  text-align: center;
}

#contact iframe {
  border: 1px solid #ccc;
  border-radius: 8px;
} */

/* @media screen and (max-width: 768px) {
  #contact {
    padding: 10px;
  }
  
  #contact .contact-details, #contact iframe {
    width: 100%;
  }

  #contact iframe {
    height: 200px; /* Reduce height for mobile */
   */


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  animation: fadeIn 0.5s ease-in-out;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media screen and (max-width: 768px) {
  #hero h2 {
    font-size: 36px;
  }

  #hero p {
    font-size: 16px;
  }

  nav ul {
    flex-direction: column;
  }
}


form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

form label {
  margin: 10px 0 5px;
  font-weight: bold;
}

form input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #c0392b;
}
